/*
 * Names: Simon Studen, Vincent Kao
 * Date: May 1, 2023
 * Section: CSE 154
 *
 * this is the css file for our final project and has a yellow and monochromatic
 * black-white color scheme, it will style the filters to the left and main
 * content of the page to the right
 */

body {
  font-family: 'Dela Gothic One', cursive;
  background-color: #FFED66;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* header styles */
/* ------------------------------------------------------------------------- */
header {
  background-color: black;
  color: white;
  height: 12em;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

header nav {
  margin-top: 0;
}

header nav div {
  display: flex;
  align-items: center;
  text-align: left;
}

nav ul {
  margin-right: 20px;
}

nav ul a {
  color: white;
  text-shadow: 0 0 1em #ffe414;
}

nav ul a:visited {
  color: plum;
}

.search-bar-container {
  display: flex;
  width: 90%;
  margin: auto;
  border: 5px solid black;
}

.search-bar-container input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 17px;
  width: 100%;
}

.search-bar-container button {
  background-color: white;
  border: none;
  border-left: 5px solid black;
  font-family: 'Dela Gothic One', cursive;
  cursor: pointer;
}

.search-bar-container button:hover {
  background-color: lightgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header img {
  height: 8em;
}

header h1, header p {
  font-family: "Impact", sans-serif;
  font-weight: 100;
}

header h1 {
  font-size: 32pt;
  text-shadow: 0 0 1em white;
}

header p {
  font-size: 16pt;
}

header li {
  float: left;
}

nav > a:link, nav > a:visited, nav > a:hover, nav > a:active {
  text-decoration: none;
  color: white;
}

header > nav > ul > li:hover {
  background-color: #ffe414;
}

nav, .filter-card-view, .card-view {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
}

header li > a {
  display: block;
  padding: 8px;
}

/* main styles */
/* ------------------------------------------------------------------------- */
[id="main-container"] {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 95%;
  padding: 40px;
}

#type-container, #price-container {
  background-color: white;
  margin: 30px;
}

#filter-container {
  background-color: #d4d4d4;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  width: 20%;
  margin-top: 5%;
  margin-right: 5%;
  padding: 15px;
  border: 5px solid black;
  border-radius: 2em;
}

#filter-container form {
  width: 100%;
}


#main-container button, #vehicle-container button,
#check-out-container button, #message-page button {
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 0.5em;
  font-family: 'Dela Gothic One', cursive;
}

#main-container button:hover,
#vehicle-container button:hover,
#check-out-container button:hover,
#message-page button:hover {
  background-color: black;
  color: white;
}

[id="#type-filter"], [id="price-filter"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

[id="vehicles-view"] {
  display: flex;
  background-color: #d4d4d4;
  margin-bottom: 20px;
  height: 800px;
  width: 65%;
  margin-top: 5%;
  overflow-y: scroll;
  border: 5px solid black;
  border-radius: 2em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#vehicles-view::-webkit-scrollbar {
  display: none;
}

.vehicle-card {
  height: 254px;
  width: 254px;
  background-color: darkgray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vehicle-card:hover {
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}

.vehicle-card img {
  height: 50%;
}

main a:link, main a:visited, main a:hover, main a:active {
  text-decoration: none;
  color: black;
}

.compact {
  height: 126px;
  width: 126px;
  margin: 10px;
  font-size: 8pt;
}

.compact img {
  display: none;
}

/* form styles */
/* ------------------------------------------------------------------------- */

.form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #fff;
}

.form-container input {
  border: none;
  outline: none;
  width: 100%;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.form-container input, .form-container button {
  background-color: rgba(0, 0, 0, 0);
}

.form-container p button {
  border: none;
  color: rgb(42, 139, 235);
}

.form-container button:hover {
  cursor: pointer;
}

#sign-up-form form, #log-in-form form, #account-form > section, #deposit-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sign-up-form {
  height: 58%;
  transform: translate(110%, 10%);
}

#sign-up-form form {
  height: 64%;
}

#log-in-form {
  height: 32%;
  transform: translate(110%, 16%);
}

#log-in-form form {
  height: 50%;
}

#account-form {
  height: 45%;
  transform: translate(110%, 16%);
}

#deposit-form {
  height: 55%;
  transform: translate(110%);
}

#deposit-form form {
  height: 60%;
  margin: 10%;
  color: white;
}

#deposit-form input {
  background-color: #ebebeb;
  font-size: 18pt;
  color: black
}

#sign-up-form, #log-in-form, #account-form, #deposit-form {
  position: fixed;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.75);
}

.form-header, .form-container h2 {
  color: white;
}

.form-container p button:hover, .form-header, .form-container h2  {
  text-shadow: 0 0 1em white;
}

.form-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: white;
  margin: 20px 20px 0 0;
}

.form-header {
  padding-right: 10px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.close:hover {
  cursor: pointer;
  color: black;
}

#log-in-submit, #sign-up-submit, #check-out-btn, #account-form button, #deposit-form button {
  border: none;
  border-radius: 4px;
  font-weight: 600;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: black;
}

#account-form button {
  margin: 10px;
}

#log-in-submit:hover, #sign-up-submit:hover, #check-out-btn:hover, #account-form button:hover,
#deposit-form button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px #fff;
}

/* cart styles */
/* ------------------------------------------------------------------------- */

#cart {
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

[id="cart-info"] {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#cart-info p {
  font-family: "Impact", sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
}

#check-out-btn {
  margin-top: 10px;
}

#cart h2 {
  margin-block: 0;
}

#cart .cart-card {
  display: flex;
  width: 400px;
  height: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: white 1px solid;

}

#cart .cart-img {
  height: 100px;
  margin-right: 20px;
}

#cart .cart-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

#cart .cart-card-title {
  font-size: 20px;
  text-shadow: none;
  margin-block-end : 0;
  margin-block-start: 8px;
}

#cart .cart-card-price {
  font-size: 12px;
  text-shadow: none;
  margin-bottom: 10px;
}

#cart .cart-card-count-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#cart .count-btn  {
  border: none;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#cart .count-btn:hover {
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  box-shadow: 0px 0px 5px #fff;

}

#cart .count-btn, #cart .cart-card-count {
  margin-right: 5px;
}

#cart-card-container {
  overflow-y: scroll;
  height: 400px;
}

#cart-card-container::-webkit-scrollbar {
  display: none;
}

/* vehicle page styles */
/* ------------------------------------------------------------------------- */

#info-container img {
  height: auto;
  width: 60%;
}

#info-container div {
  width: 30%;
}

[id="vehicle-container"], [id="check-out-container"] {
  background-color: #d4d4d4;
  text-align: left;
  padding: 40px;
  display: block;
  margin: 40px;
  font-size: 12pt;
}

#info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
  border-radius: 2em;
  padding: 20px;
  margin: 20px;
}

#info-container h1 {
  font-size: 40pt;
}

#vehicle-container button {
  width: 200px;
}

/* review styles */
/* ------------------------------------------------------------------------- */

[id="add-review"] {
  background-color: #a7a7a7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  margin: 20px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 2em;
  font-size: 17pt;
}

#add-review > select {
  height: 15%;
  width: 75px;
  font-size: 12pt;
  text-align: center;
  font-family: 'Dela Gothic One', cursive;
}

#add-review > input {
  font-size: 12pt;
  font-family: 'Dela Gothic One', cursive;
  height: 30%;
}

#add-review > span {
  align-self: flex-end;
  width: fit-content;
  margin-right: 50px;
  font-size: 17pt;
}

#add-review > button {
  align-self: flex-end;
}

#reviews {
  height: 400px;
  overflow-y: scroll;
  margin-top: 20px;
}

#reviews::-webkit-scrollbar, #previous-purchases::-webkit-scrollbar {
  display: none;
}

.review-card {
  background-color: white;
  font-size: 10pt;
  padding: 15px;
  margin: 25px;
}

.review-card h3 {
  font-size: 16pt;
}

/* history styles */
/* ------------------------------------------------------------------------- */

[id="history-page"] {
  background-color: #d4d4d4;
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border: 5px solid black;
  border-radius: 2em;
}

.history-card {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

#previous-purchases {
  height: 450px;
  overflow-y: scroll;
}

/* check out styles */
/* ------------------------------------------------------------------------- */

#check-out-container {
  text-align: center;
}

#check-out-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  overflow-y: scroll;
  margin: 50px;
}

.vehicle-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 80%;
  font-size: 12pt;
  background-color: #ebebeb;
  border-radius: 2em;
  margin: 10px;
}

.vehicle-checkout img {
  height: 80px;
}

.vehicle-checkout h3 {
  font-size: 16pt;
}


/* message page styles */
/* ------------------------------------------------------------------------- */
#message-page button {
  width: 250px;
}

[id="message-page"] {
  margin-top: 10%;
  font-size: 20pt;
  display: block;
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}